apiVersion: v1
kind: Service
metadata:
  name: mlbr-ft-prnts
  labels:
    app: mlbr-ft-prnts
spec:
  ports:
    - port: 80
  selector:
    app: mlbr-ft-prnts
    tier: frontend
  type: NodePort
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mlbr-ft-prnts-pv-claim
  labels:
    app: mlbr-ft-prnts
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlbr-ft-prnts
  labels:
    app: mlbr-ft-prnts
spec:
  selector:
    matchLabels:
      app: mlbr-ft-prnts
      tier: frontend
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: mlbr-ft-prnts
        tier: frontend
    spec:
      containers:
      - image: wordpress:4.8-apache
        name: mlbr-ft-prnts
        env:
        - name: WORDPRESS_DB_HOST
          value: mlbr-ft-prnts-mysql
        - name: WORDPRESS_DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-pass
              key: password.txt
        ports:
        - containerPort: 80
          name: mlbr-ft-prnts
        volumeMounts:
        - name: mlbr-ft-prnts-persistent-storage
          mountPath: /var/www/html
      volumes:
      - name: mlbr-ft-prnts-persistent-storage
        persistentVolumeClaim:
          claimName: mlbr-ft-prnts-pv-claim